body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.301),rgba(0, 0, 0, 0.219)),url('../login-back.png');
    backdrop-filter: blur(6px);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display:block;
}